body {
	background: #99a478;
	font-family: "Varela Round";
}

em {
	font-style: italic;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: underline;
	color: #fff;
}

.jumbotron {
	background: none;
}

.jumbotron h1 {
	color: #000;
	font-family: "Droid Serif", Cambria;
}

.jumbotron p {
	line-height: 1.5em;
	font-size: 18px;
}

h1,h2,h3,h4 {
	color: #000;
}

h2 {
	font-family: "Droid Serif", Cambria;
}

nav {
	font-family: "Varela Round";
	font-size: 16px;
}

.navbar-static-top {
	margin-bottom: 19px;
	background: #fff;
	border-bottom: none;
}

.navbar-default .navbar-nav .active a {
	color: #fff;
	background: #99a478;
}

.navbar-default .navbar-nav .active a:hover {
	color: #fff;
	background: #99a478;
}

.navbar-default .99a478-toggle:hover,.navbar-default .navbar-toggle:focus {
	background: #306421;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #99a478;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* inline-block space fix */
	margin-right: -4px;
}

.row {
	color: #000;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: "Varela Round";
	font-size: 18px;
}

.container-top {
	background: url(img/bg-weiss.png) repeat;
}

.container-fluid {
	border-bottom: 0.4em solid #000;
}

.linkbox {
	border: 0.2em solid #333333;
	margin-bottom: 30px;
}

.form-control:focus {
	border-color: #286C12;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(51, 138, 46, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(51, 138, 46, .6);
	color: #000;
	font-size: 18px;
}

.btn-info, .btn-default {
	color: #fff;
	background: #3d3536;
	border: 0.1em solid #a6989a;
}

.btn-info:hover, .btn-default:hover {
	color: #000;
	background: #a6989a;
border: 0.1em solid #3d3536;
}


.lead {
	font-size: 22px;
}